/* Estilos personalizados para el dropdown */
.navbar-custom .dropdown-menu {
  background-color: #222; /* Fondo oscuro */
  border: 1px solid #edd000; /* Borde amarillo */
  padding: 3rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-custom .dropdown-item {
  color: #fff; /* Color del texto */
  padding: 10px;
  border-bottom: 1px solid #333; /* Borde inferior */
}

.navbar-custom .dropdown-item:last-child {
  border-bottom: none; /* Eliminar borde del último elemento */
}

.navbar-custom .dropdown-item:hover {
  background-color: #edd000; /* Fondo amarillo al pasar el mouse */
  color: #000; /* Texto negro al pasar el mouse */
}

.navbar-custom .dropdown-divider {
  border-color: #333; /* Color del divisor */
}
